{
	"endOfLine": "lf",
	"printWidth": 100,
	"quoteProps": "consistent",
	"arrowParens": "always",
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-svelte"],
	"importOrder": [
		"^node:",
		"^@?esbuild-?",
		"^(@sveltejs|svelte)[-/]?",
		"<THIRD_PARTY_MODULES>",
		"^\\$",
		"^\\.\\./",
		"^\\./"
	],
	"importOrderParserPlugins": ["typescript", "decorators"],
	"importOrderSeparation": true,
	"overrides": [
		{
			"files": "**/*.{yml,json}",
			"options": { "useTabs": false, "tabWidth": 2 }
		},
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
